
DirectoryIndex index.php

<FilesMatch "\.(php|inc)$">
Order allow,deny
deny from all
</FilesMatch>
<FilesMatch "(index.php|dl.php|ut.php|download.php)$">
Order allow,deny
allow from all
</FilesMatch>
php_value magic_quotes_gpc on

